parameters:
    level: 9
    paths:
        - src
        - tests
    excludePaths:
        - src/Kernel.php
    doctrine:
        objectManagerLoader: tests/object-manager.php
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml

    # Strictness maximum
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    reportUnmatchedIgnoredErrors: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    checkDynamicProperties: true

    # Ignorer les faux positifs courants
    ignoreErrors:
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)#'
